<!-- About Section -->
    <section id="a-propos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Un militant engagé</h2>
                    <h3 class="section-subheading text-muted">pour Longueuil-Charles-Lemoyne.</h3>
					<p>Professeur de philosophie et de lettres classiques, militant de terrain convaincu, je crois que la dépendance politique du Québec est le seul obstacle qui se dresse devant notre marche vers l'arborescence des peuples. La Souveraineté est à notre État ce que la vie est à nos corps: c'est son souffle vital, ce qui l'anime en son sein.</p>
					<p>Je cherche à rallier la confiance des membres du Bloc Québécois pour renverser le cynisme habituel envers la classe politique. Je me propose deux moyens pour y parvenir: en parlant d'indépendance dans une langue belle, franche et inspirante, et en remettant pour la cause indépendantiste une part significative de mon salaire de député.</p>
                </div>
            </div>
        </div>
    </section>