<!-- About Section -->
    <section id="a-propos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Un militant engagé</h2>
					<div class="row">
						<div class="col-md-3 col-lg-offset-2 col-lg-3">
							<p><img src="../img/philippe-cloutier.jpg" class="img-responsive img-thumbnail" alt="Philippe Cloutier"></p>
						</div>
						<div class="col-md-9 col-lg-4 text-justify">
							<p>Vous êtes un pilier dans l’édifice du pays que nous construisons. Votre confiance et votre appui sont précieux pour moi et je m’engage à travailler sans relâche afin de toujours les mériter.</p>
                            <p>C’est en étudiant en Angleterre, en France et en Allemagne, puis en enseignant au Mexique, que j’ai appris à apprécier la diversité des cultures. Nous sommes privilégiés d’être Québécois et je suis fier de pouvoir le dire en français. Nous méritons notre pays.</p>
                            <p>Au plaisir!</p>
						</div>
					</div>
                </div>
            </div>
        </div>
    </section>