	<div class="portfolio-modal modal fade" id="mettre-cap" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Mettre le cap sur l'indépendance</h2>
							<div class="text-justify">
                                <p>Pour un militant dans l’âme il n’y rien de plus gratifiant que de convaincre une personne des bienfaits de l’indépendance.</p>
                                <p>Nous sommes en campagne permanente pour réaliser l’indépendance.</p>
                                <p>Les méthodes qui fonctionnent le mieux sont déjà connues: le porte-à-porte, les assemblées de cuisine, l’éducation populaire. Il s’agit de tâches auxquelles je m’attellerai avec assiduité, à vos côtés.</p>
                                <p>Je m’engage à fixer des objectifs précis d’appuis à l’indépendance dans Marie-Victorin et à présenter un rapport d’avancement de notre campagne annuellement, à l’assemblée générale.</p>
                                <p>Une méthode de mesure rigoureuse et objective sera instaurée afin de permettre aux membres d’apprécier l’efficacité de nos activités.</p>
							</div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-backward"></i> Retour à la page principale</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

		<div class="portfolio-modal modal fade" id="implanter-cliniques" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Implanter des cliniques d'infirmières et infirmiers praticiens</h2>
                            <div class="text-justify">
                                <p>Il n’est pas toujours facile de voir un médecin au Québec. Nous avons tous fait l’expérience de longues heures d’attente pour soigner un problème mineur, comme un rhume ou une coupure.</p>
                                <p>Nous devons en faire plus pour améliorer l’accessibilité aux soins de première ligne.</p>
                                <p>Les infirmières praticiennes, qu’on appelle aussi superinfirmières, peuvent offrir des soins de premières lignes, accessibles presque sans temps d’attente.</p>
                                <p>Cette solution a été éprouvée en Ontario où les superinfirmières opèrent des cliniques qui traitent des milliers de patients et peuvent, dans bien des cas, remplacer l’accès à un médecin. </p>
                                <p>Nous croyons que les cliniques d'infirmières et infirmiers praticiens représentent une solution pratique et réaliste qui pourrait être mise en œuvre afin de mieux répondre aux besoins en santé des habitants de Marie-Victorin.</p>
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-backward"></i> Retour à la page principale</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        <div class="portfolio-modal modal fade" id="offre-transport" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Améliorer l’offre de transport dans Marie-Victorin</h2>
                            <div class="text-justify">
                                <p>L’offre de transport collectif dans Marie-Victorin doit être améliorée.  Nous devons améliorer l’offre du réseau de transport collectif existant, notamment en augmentant la fréquence de passage des autobus aux heures de pointe, en créant des voies d’autobus rapides, notamment sur le boulevard Taschereau, et en implantant un système d’information en temps réel pour les usagers. Nous croyons aussi qu’il est important de continuer à accroitre la portée du réseau cyclable de Longueuil.</p>
                                <p>Nous veillerons à ce que le réseau routier de la Rive-Sud soit bien entretenu et optimisé afin de permettre une circulation efficace et rapide pour les automobilistes.</p>
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-backward"></i> Retour à la page principale</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="representer-dignement" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Représenter dignement les citoyens de Marie-Victorin</h2>
                            <div class="text-justify">
                                <p>Je suis un homme intègre et passionné par l’avenir du Québec. Je veux travailler avec vous afin de préparer un meilleur avenir pour le Québec et pour Marie-Victorin. Je saurai vous représenter dignement et fièrement à l’Assemblée Nationale du Québec.</p>
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-backward"></i> Retour à la page principale</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="volonte-membres" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Embrasser la volonté des membres du Parti québécois</h2>
                            <div class="text-justify">
                                <p>Je suis avant tout votre représentant à vous, membres du Parti québécois. Je veux réaliser votre vision pour l’avenir du Québec et de Marie-Victorin. Travaillons ensemble à bâtir l’avenir.</p>
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-backward"></i> Retour à la page principale</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="alimenter-fierte" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Alimenter notre sentiment de fierté</h2>
                            <div class="text-justify">
                                <p>Je suis fier d’être québécois, fier d’être Longueillois et fier d’être résidant de Marie-Victorin. En tant que québécois, je veux que nous soyons fiers d’être qui nous sommes et d’habiter dans un pays qui nous appartient et que nous gouvernons. Cette fierté d’appartenir à une patrie et à un magnifique coin du monde, aux bords du Saint-Laurent, est ce qui me guide et m'alimente chaque jour.</p>
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-backward"></i> Retour à la page principale</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">{{ post.client }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">{{ post.category }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
                                
