<!-- Services Section -->
    <section id="videos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Écoutez et partagez!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://www.youtube.com/embed/poEofbPaums?rel=0" allowfullscreen></iframe>
                    </div>
                </div>>
                <div class="col-md-2">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe src="https://www.youtube.com/embed/E2dB3I5RO8o?rel=0" allowfullscreen></iframe>
                   </div>
                </div>
                <div class="col-md-2">
                    <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://www.youtube.com/embed/SJu1KlJCqpg?rel=0" allowfullscreen></iframe>    
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://www.youtube.com/embed/CEQsyY_PwF8?rel=0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://www.youtube.com/embed/iiWIMNpyNEo?rel=0" allowfullscreen></iframe>
                    </div>
                </div
            </div
        </div>
    </section>